<main class="form-signin">
  <form method="post" action="/login/logar" class="form-signin">
    <h1 class="h3 mb-3 fw-normal">Login area Administrativa</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@examplo.com">
      <label for="email">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
      <label for="senha">Senha</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value= "1" name="lembrar">Lembrar de mim
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">Do zero ao meio de pagamento © 2022</p>
  </form>
</main>
