<p id="notice"><%= notice%></p>
  <div class="row">
    <h1>Carrinho</h1>
  </div>
  <hr>
    
    <div class="row">
      <% @produtos.each do |produto| %>
          <ul>
            <li>
              <%= produto.nome %> - R$<%= produto.valor%>
            </li>
          </ul>
      <% end %>
    </div> 
    <h1>
      Valor total da compra: R$ <%= @produtos.sum(:valor)%>
    </h1>
  <div class="row">
    <a href="/carrinho/fechar" class="btn btn-outline-success mt-auto">Concluir compra</a>
  </div>

    

  